<div class="main-wrapper ">
  <h1>posts</h1>
  <hr>
  <div class="container posts">
    <div class="col-md-8 col-md-offset-2">
      <% @posts.each do |post| %>
        <div class="title">
          <%= link_to post.title, post_path(post) %>
        </div>
        <span class="date">
          <%= time_ago_in_words(post.created_at) %>
        </span>
        <hr>
        <div class="content">
          <%= truncate(post.description.html_safe, length:250) %>
        </div>
      <% end %>
      <div class="text-center">
        <%= will_paginate @posts%>
      </div>
    </div>
  </div>
</div>
