@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";


$white: #fff;
$highlight: #FF9C01;
$dark: #2C3135;
$light: #EDEFF5;

h1{
  font-size: 3rem;
}
h2{
  font-size:2rem;
}
h3{
  font-size: 1.7rem;
}
h4{
  font-size: 1.5rem;
}
h5{
  font-size: 1.2rem;
}

.btn-highlight{
  background:$highlight;
  color: $white;
  &:hover{
      background: darken($highlight, 5%);
      color: $white;
    }
}
.main-header{
  header{
    color: black;
    background: #B1B1B1;
  }
}
header{
  .navbar{
    padding: 2rem ;
    .navbar-title{
      font-weight: 700;
      letter-spacing: 5px;
      text-transform: uppercase;
    }
    a{
      border: 1px solid;
      padding: .5rem 1rem;
      border-radius: .5rem;
      text-decoration: none;
      text-transform: capitalize;
      color: $white;
    }
    ul{
      li{
        list-style: none;
        margin-left: 2rem;
      }
    }
    .sign-up{
      background: $highlight;
      border: 0;
      text-transform: capitalize;
      &:hover{
      background: darken($highlight, 5%);
      }
    }
  }
}

.main-wrapper{
  padding-bottom: 3rem;
  h1{
    text-align: center;
    text-transform: uppercase;
    color: $dark;
    font-weight: 700;
    font-size: 3rem;
  }
}
.pagination:before,
.pagination:after {
  content: “ “;
  display: table;
}

.pagination:after {
  clear: both;
}

.pagination {
  text-align: center;
  margin: 1rem 0;
  a, .previous_page, .current, .next_page {
    padding: 0.75rem 1rem;
    margin: 0 .25rem;
    border-radius: .15rem;
    line-height: 20px;
    text-decoration: none;
    background-color: $light;
    font-weight: 700;
    font-size: .7rem;
    font-style: normal;
    color: $dark;
    &:hover {
      background: $highlight;
      color: $white;
    }
  }
  .disabled {
    color: #C0C0C0;
    &:hover {
      color: #C0C0C0;
    }
  }
  .current {
    background: $highlight;
    color: $white;
  }
}



/* IE 6 */
* html footer {
   position:absolute;
   top:expression((0-(footer.offsetHeight)+(document.documentElement.clientHeight ? document.documentElement.clientHeight : document.body.clientHeight)+(ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop))+'px');
}
footer{
   position:fixed;
   left:0px;
   bottom:0px;
   height:40px;
   width:100%;
   background:rgba(255, 255,255,0.9);
  hr{
    margin: 0;
  }
  .copy{
    margin-left: 2rem;
    display: inline-block;
    float: left;
    padding: 1rem 0;
  }
  nav{
    padding: 1rem 0;
    float: right;
    ul{
      li{
        list-style: none;
        display: inline-block;
        padding-right: 2rem;
      }
    }
  }
}
@import 'welcome';
@import 'posts';

/*flash*/

.flash_alert{
  width: 50%;
  margin: 0 auto;

}
.alert-error {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-alert {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }

.alert-notice {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }

#error_explanation {
  width: 100%;
  border: 0;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #F2DEDE;
  border-radius: .5rem;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: 1rem;
  background-color: darken(#F2DEDE,9%);
  color: #fff;
}

#error_explanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}
